<% javascript 'edit.js' %>

<div class="pull-right">
	<%= link_to "Logout", logout_path, :class => "btn btn-link" %>
</div>

<h1>Welcome <%= @user.fname %>!</h1>

<div class="row">

	<div class="col-md-6">

		<h4>
			My Profile &nbsp;
			<small><%= link_to "Edit", @user %></small>
		</h4>
		<p>
			<%= @user.name %><br />
			<%= @user.college %>
			<%= short_year @user.year %>
		</p>
		<br />

		<h4>
			Names Similar to Yours &nbsp;
			<small><a href="#" data-toggle="tooltip" data-placement="bottom" title="People might sometimes list you under nicknames or aliases. By requesting to merge these names, all your film credits will be unified under the same profile, this one!">What's this?</a></small>
		</h4>
		<% if @user.similar_users.empty? %>
			<p>No people found right now</p>
		<% else %>
			<%= form_tag takeover_request_path(@user) do %>

				<table class="table table-striped">
					<tbody>
						<% @user.similar_users.each do |person| %>
						<tr>
							<td>
								<label>
									<%= check_box_tag 'person_ids[]', person.id %> &nbsp;
									<%= person.display_name %>,
									<%= person.college %>
									<%= short_year person.year %>
								</label>
							</td>
						</tr>
						<% end -%>
					</tbody>
					<tfoot>
						<tr>
							<td>
								<button type="submit" class="btn btn-default">Request Names</button>
							</td>
						</tr>
					</tfoot>
				</table>

			<% end %>
		<% end %>
		<br />

    <h4>
    	Experiences &nbsp;
			<small><%= link_to "Edit", edit_person_path(@user) %></small>
    </h4>
    <p>
      <% if @user.experienced_activities.none? -%>
      No experiences have been selected.
      <% else -%>
        <% @user.experienced_activities.each do |activity| -%>
          <span class="label label-default"><%= activity.name %></span>
        <% end -%>
      <% end -%>
    </p>
		<br />

    <h4>
    	Interests &nbsp;
			<small><%= link_to "Edit", edit_person_path(@user) %></small>
    </h4>
    <p>
      <% if @user.interested_activities.none? -%>
      No interests have been selected.
      <% else -%>
        <% @user.interested_activities.each do |activity| -%>
          <span class="label label-default"><%= activity.name %></span>
        <% end -%>
      <% end -%>
    </p>
		<br />

    <h4>
    	Links &nbsp;
			<small><%= link_to "Edit", edit_person_path(@user) %></small>
    </h4>
    <p>
      <table class="table table-striped">
        <tbody>
          <% @user.links.by_position.each do |link| -%>
          <tr>
            <td><%= link_to link.name, link.url, target: '_blank' %></td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </p>
		<br />

	</div>

	<div class="col-md-6">
		<h4>
      My Projects &nbsp;
      <small><%= link_to "New", new_film_path %></small>
    </h4>
		<table class="table table-striped">
			<tbody>
				<% @user.films.by_date.each do |film| -%>
				<tr>
					<td>
						<%= link_to film.title, film %>
					</td>
					<td>
						<%= link_to "Edit", film_dashboard_path(film) %>
					</td>
				</tr>
				<% end -%>
			</tbody>
		</table>
	</div>

</div>

<div class="row">

	<div class="col-md-6">
		<h4>My Auditions</h4>
		<table class="table table-striped">
			<thead>
				<th>Project</th>
				<th>Date and time</th>
				<th>Location</th>
			</thead>
			<tbody>
				<% @user.auditions.includes(:film).each do |audition| -%>
				<tr>
					<td>
						<%= link_to audition.film.title, audition.film %>
					</td>
					<td>
						<%= short_date audition.starts_at %>,
						<%= time audition.starts_at %>
					</td>
					<td>
						<%= audition.location %>
					</td>
				</tr>
				<% end -%>
			</tbody>
		</table>
	</div>

	<div class="col-md-6">
		<h4>
      My Events &nbsp;
      <small><%= link_to "New", new_event_path %></small>
    </h4>
    <table class="table table-striped">
      <tbody>
        <% @user.events.by_date.each do |event| -%>
        <tr>
          <td>
            <%= event.name %>
          </td>
          <td>
            <%= link_to "Edit", edit_event_path(event) %>
          </td>
        </tr>
        <% end -%>
      </tbody>
    </table>
	</div>

</div>
