<h1>Do you already have an account?</h1>

<div class="row">
	<div class="col-md-12">
		<p>We've found some people that might be you. If they are, just check them off below and once approved, the associated data will be moved to this new account.</p>
		<hr />
		<%= form_tag takeover_request_path(@person) do %>
			<p>
				<h4>Similar Names:</h4>
				<% @matches.each do |p| %>
					<label for="person_<%= p.id %>">
						<%= check_box_tag 'person_ids[]', p.id, nil, :id => "person_#{p.id}" %> &nbsp;
						<%= p.display_name %><%= " (#{p.college} #{short_year p.year})" if p.college || p.year %>
					</label>
				<% end %>
			</p>
			<p><%= submit_tag "Request Names", :class => "btn" %></p>
		<% end %>
	</div>
</div>
