<div class="row">
  <div class="col-md-4">
    <%= image_tag @person.picture.url(:show), (@editable ? {"data-toggle" => "modal", "data-target" => "#edit-picture"} : {}) -%>

    <% if @editable -%>
      <% content_for :dialogs do -%>
      <div id="edit-picture" class="modal fade">
        <div class="modal-dialog">
          <%= form_for @person, :html => { :multipart => true, :id => 'edit-picture-form' } do |f| %>
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title">Upload a <%= :new if @person.picture? -%> picture</h4>
            </div>
            <div class="modal-body">
              <p><%= f.file_field :picture, :class => 'form-control' %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end -%>
    <% end -%>

  </div>

  <div class="col-md-8">
    <h1>
      <%= person_field :fname %>
      <%= person_field :lname %>
    </h1>
    <p>
      <%= person_field :college, :type => :select, :collection => options_for_college %>
      <%= person_field :year, :display_with => lambda {|year| short_year year} %>
    </p>
    <p>
      <%= person_field :bio, :type => :textarea, :display_with => lambda {|bio| sanitize_bio bio} %>
    </p>
    <% if @editable %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Only you can see these:</h3>
      </div>
      <div class="panel-body">
        <p>Email: <%= person_field :email, :inner_class => 'form-control best-in-place-control' %></p>
        <p>Allow people to email me: <%= person_field :email_allow, :type => :checkbox %></p>
        <p>Associated NetID: <%= @person.netid %></p>
      </div>
    </div>
    <% end -%>
  </div>
</div>

<br /><br />

<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Resume</strong><br />
      <table class="table table-striped">
        <tbody>
          <% @film_positions.each do |film_position| -%>
          <tr>
            <td>
              <%= film_position.display_name %><br />
              <small><%= short_date film_position.film.start_date %></small>
            </td>
            <td>
              <%= link_to film_position.film.title, film_position.film %>
            </td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </p>
  </div>

  <div class="col-md-4">
    <p>
      <strong>Has experience in:</strong><br />
      ...
    </p>

    <p>
      <strong>Is interested in:</strong><br />
      ...
    </p>
  </div>

  <div class="col-md-4">
    <p>
      <strong>On the web</strong><br />
      <table class="table table-striped">
        <tbody>
          <% @person.links.by_position.each do |link| -%>
          <tr>
            <td><%= link_to link.name, link.url, target: '_blank' %></td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </p>
  </div>

</div>
