<h5>Refine events:</h5>
<div class="refinements">
  <form method="GET" action="<%= search_path %>">
    <%= hidden_field_tag :t, params[:t] %>
    <%= hidden_field_tag :q, params[:q] %>
    <table>
      <tr>
        <td>
          <label class="form-control-static" for="future">
            <%= check_box_tag :future, '1', params[:future] %> &nbsp;
            Only show future events
          </label>
        </td>
        <td>
          <button type="submit" class="btn btn-default">Filter</button>
        </td>
      </tr>
    </table>
  </form>
</div>

<% if @event_dates.any? -%>
<table class="table table-striped">
  <thead>
    <th>Event name</th>
    <th>Semester</th>
    <th>Date</th>
  </thead>
  <tbody>
    <% @event_dates.each do |event_date| -%>
    <tr>
      <td>
        <%= render "events/dialog", date: event_date %>
      </td>
      <td>
        <%= Yale::semester_label_for event_date.starts_at %>
      </td>
      <td>
        <%= short_date event_date.starts_at %>,
        <%= time event_date.starts_at %>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>

<% else -%>
<h4>No matching events found</h4>

<% end -%>
