<h5>Refine people:</h5>
<div class="refinements">
  <form class="form-inline" role="form" method="GET" action="<%= search_path %>">
    <%= hidden_field_tag :t, params[:t] %>
    <%= hidden_field_tag :q, params[:q] %>
    <div class="form-group">
        <table>
          <tr>
            <td>
              <%= text_field_tag :name, params[:name], :class => "form-control", :placeholder => "Name" %>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <table>
          <tr>
            <td>
              <%= select_tag :year, options_for_select(@years, params[:year]), :prompt => "Class Year", :class => "form-control" %>
            </td>
            <td>
              <%= select_tag :position, options_for_select(@positions, params[:position]), :prompt => "Production Position", :class => "form-control" %>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <table>
          <tr>
            <td colspan="2">
              <label class="form-control-static" for="current">
                <%= check_box_tag :current, '1', params[:current] %> &nbsp;
                Only show current students
              </label>
            </td>
            <td>
              <button type="submit" class="btn btn-responsive btn-default">Filter</button>
            </td>
          </tr>
        </table>
      </div>
  </form>
</div>

<% if @people.any? -%>
<table class="table table-striped">
  <tbody>
    <% @people.each do |person| -%>
    <tr>
      <td>
        <%= link_to person_listing(person), person %>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>

<% else -%>
<h4>No matching people found</h4>

<% end -%>
