<h1>Search</h1>

<h4>Showing <%= @tab %> matching "<%= params[:q] %>"</h4>

<div class="row controls unpadded">
	<ul class="nav nav-pills">
    <% @tabs.each do |tab| -%>
      <li class="<%= :active if @tab == tab %>">
      	<%= link_to :t => tab, :q => params[:q] do %>
	      	<%= tab.to_s.titlecase %> <span class="badge"><%= @badge[tab] %></span>
      	<% end -%>
      </button>
    <% end -%>
  </ul>
</div>

<%= render @tab.to_s %>
