<tr>

	<td>
    <p>
    	<label for="auditions_<%= audition.id %>__destroy">
				<%= form.check_box :_destroy %>&nbsp;
  	    <%= short_date audition.starts_at %> at
    	  <%= time audition.starts_at %>
    	</label>
    </p>
  </td>

	<td>
		<%= best_in_place audition, :location, :type => :input, :path => film_auditions_path(@film) + "/#{audition.id}" %>
	</td>

	<% if audition.person == @current_user %>
		<td><button class="btn btn-default" name="commit" value="cancel" type="submit">Cancel Audition</button></td>
		<td><%= audition.person.display_name %></td>
		<td><%= audition.email %></td>
		<td><%= audition.phone %></td>

	<% elsif audition.person %>
		<td><button class="btn btn-link" disabled="disabled" type="button">Taken</button></td>
		<td><%= audition.person.display_name %></td>
		<td><%= audition.email %></td>
		<td><%= audition.phone %></td>

	<% else %>
		<td><button class="btn btn-default" name="commit" value="<%= audition.id %>" type="submit">Signup</button></td>
		<td colspan="3">Not Taken Yet</td>

	<% end %>

</tr>
