<% javascript 'auditions.js' %>

<table id="audition_groups" class="table table-striped">
	<% audition_groups.each do |group| %>
		<% condense = group.length > 4 -%>
		<thead>
			<tr><th colspan="5"><%= long_date group.first.starts_at %> at <%= group.first.location %></th></tr>
		</thead>
		<tbody>
			<% group.each_with_index do |audition, i| %>
				<% if condense and i == 1 %>
					<tr class="ellipsis"><td></td><td colspan="4">...</td></tr>
				<% end %>
				<tr class="
									<%= :filled if audition.person_id %> 
									<%= :past if audition.past? %> 
									<%= :condensed if condense and i > 0 and i < group.length - 1 %>"
						style="<%= "display:none" if condense and i > 0 and i < group.length - 1 %>"
						data-audition-id="<%= audition.id %>">
					<td>
						<% if audition.future? %>
							<button type="button" class="single-remove btn btn-danger btn-xs">X</button>
						<% end %>
					</td>
					<td>
						<%= time audition.starts_at %>
					</td>
					<td class="name">
						<% if audition.person_id %>
							<%= link_to audition.person.name, audition.person %>
						<% else %>
							<%= audition.name %>
						<% end %>
					</td>
					<td class="phone">
						<%= format_phone audition.phone %>
					</td>
					<td class="email">
						<%= link_to "Email", "mailto:" + audition.email if audition.email %>
					</td>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5">
					<%= link_to "Email Group", "mailto:" + group.collect(&:email).reject(&:blank?).join(","), :class => "btn btn-default" %>
					<% if condense %>
					<button type="button" class="show-all btn btn-default">Show all <%= group.length %> slots</button>
					<button type="button" class="hide-all btn btn-default" style="display:none">Hide <%= group.length - 2 %> slots</button>
					<% end %>
					<button type="button" class="block-remove btn btn-danger">Delete Group</button>
				</td>
			</tr>
		</tfoot>
	<% end %>
</table>

<div class="audition-actions">
	<%= link_to "Email All", "mailto:" + audition_groups.flatten.collect(&:email).reject(&:blank?).join(","), :class => "btn btn-default" %>
	<%= link_to "Print Full List", film_auditions_path(@film), :class => "btn btn-default" %>
	<%= link_to "Download Full List (CSV)", film_auditions_path(@film, "csv"), :class => "btn btn-default" %>
</div>
