<table class="table table-striped">

  <thead>
    <tr>
      <th></th>
      <th>Audition Time</th>
      <th>Location</th>
      <th>Signup</th>
      <th>Person</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    <tr>
      <td colspan="7"></td>
    </tr>
  </thead>

  <tbody>
    <% @auditions.each do |audition| %> 
      <%= fields_for "auditions[#{audition.id}]", audition do |form| %>
        <tr class="<%= :info if audition.person == @current_user %>">

          <td>
            <%= form.check_box :_destroy %>&nbsp;
          </td>

          <td>
            <p>
              <label for="auditions_<%= audition.id %>__destroy">
                <%= short_date audition.starts_at %> at
                <%= time audition.starts_at %>
              </label>
            </p>
          </td>

          <td>
            <%= best_in_place audition, :location, :path => film_auditions_path(@film) + "/#{audition.id}" %>
          </td>

          <% if audition.person == @current_user %>
            <td><button class="btn btn-default" name="commit" value="cancel" type="submit">Cancel</button></td>
            <td><%= audition.person.display_name %></td>
            <td><%= audition.email %></td>
            <td><%= audition.phone %></td>

          <% elsif audition.person %>
            <td><button class="btn btn-link" disabled="disabled" type="button">Taken</button></td>
            <td><%= audition.person.display_name %></td>
            <td><%= audition.email %></td>
            <td><%= audition.phone %></td>

          <% else %>
            <td><button class="btn btn-default" name="commit" value="<%= audition.id %>" type="submit">Signup</button></td>
            <td colspan="3">Not Taken Yet</td>

          <% end %>

        </tr>
      <% end %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td></td>
      <td colspan="6">
        <%= submit_tag "Delete Selected", :class => "btn btn-primary", :data => { :confirm => "This will delete the selected auditions. There is no undo. Are you sure?" } %>
        <%= render "add_multiple" %>
        <%= render "add_single" %>
        <%= link_to "Past auditions", {:action => :past, :film_id => @film.id}, :class => 'btn btn-link' if @recent_auditions.any? %>
      </td>
    </tr>
  </tfoot>

</table>