<table class="table table-striped">

  <thead>
    <tr>
      <th>Audition Time</th>
      <th>Location</th>
      <th>Signup</th>
    </tr>
    <tr>
      <td colspan="3"></td>
    </tr>
  </thead>

  <tbody>
    <% @auditions.each do |audition| %> 
      <tr class="<%= :info if audition.person == @current_user %>">

        <td>
          <p>
            <%= short_date audition.starts_at %> at
            <%= time audition.starts_at %>
          </p>
        </td>

        <td>
          <p>
            <%= audition.location %>
          </p>
        </td>

        <td>
          <% if audition.person == @current_user %>
            <button class="btn btn-default" name="commit" value="cancel" type="submit">Cancel</button>

          <% elsif audition.person %>
            Taken

          <% else %>
            <button class="btn btn-default" name="commit" value="<%= audition.id %>" type="submit">Signup</button>

          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>

</table>
