<h1>Auditions: <%= @film.title %></h1>

<div class="row">
	<div class="col-md-12">
		<p><%= best_in_place_if @aud_admin, @film, :aud_info, :type => :textarea %></p>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-md-12">
		<% if @auditions.any? %>
			<%= form_tag film_auditions_path(@film), :method => :put, :class => 'form-horizontal' do %>

				<div class="row">
					<div class="col-md-6">
						<h4>Your Information:</h4>

						<div class="form-group">
							<label class="col-md-2 control-label">Name:</label>
							<div class="col-md-10">
								<p class="form-control-static">
									<%= @current_user.display_name %> &nbsp; &nbsp; &nbsp; &nbsp;
									Not you? <%= link_to "Logout", logout_path %>
								</p>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Phone:</label>
							<div class="col-md-8">
								<input type="text" name="phone" class="form-control" value="<%= @user_audition.phone if @user_audition %>" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-2 control-label">Email:</label>
							<div class="col-md-8">
								<input type="text" name="email" class="form-control" value="<%= @user_audition ? @user_audition.email : @current_user.email %>" />
							</div>
						</div>
					</div>

					<% if @film.s3_objects? -%>
					<div class="col-md-6">
						<h4>Files:</h4>
						<table class="table table-striped">
							<tbody>
								<% @film.s3_objects.each do |obj| %>
								<tr>
									<td>
										<%= link_to_file obj %>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<% end -%>

				</div>

				<br />
				<h4>Audition Times:</h4>
				<p>Note that signing up for a new slot will replace any previous slot you have</p>

	  		<%= render :partial => (@aud_admin ? 'table_admin' : 'table') %>

			<% end %>
		<% end %>
	</div>
</div>
