<h1>Auditions: <%= @film.title %></h1>

<div class="row">
	<div class="col-md-12">
		<p><%= best_in_place_if @aud_admin, @film, :aud_info, :type => :textarea %></p>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-md-12">
		<% if @auditions.any? %>
			<%= form_tag film_auditions_path(@film), :method => :put, :class => 'form-horizontal' do %>

				<h4>Your Information:</h4>

				<div class="form-group">
					<label class="col-md-1 control-label">Name:</label>
					<div class="col-md-10">
						<p class="form-control-static">
							<%= @current_user.display_name %> &nbsp; &nbsp; &nbsp; &nbsp;
							Not you? <%= link_to "Logout", logout_path %>
						</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-1 control-label">Phone:</label>
					<div class="col-md-4">
						<input type="text" name="phone" class="form-control" value="<%= @user_audition.phone if @user_audition %>" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-1 control-label">Email:</label>
					<div class="col-md-4">
						<input type="text" name="email" class="form-control" value="<%= @user_audition ? @user_audition.email : @current_user.email %>" />
					</div>
				</div>

				<br />
				<h4>Audition Times:</h4>
				<p>Note that signing up for a new slot will replace any previous slot you have</p>

				<table class="table table-striped">
					<thead>
						<tr>
							<% if @aud_admin %>
								<th></th>
							<% end -%>
							<th>Audition Time</th>
							<th>Location</th>
							<th>Signup</th>
							<% if @aud_admin %>
								<th>Person</th>
								<th>Email</th>
								<th>Phone</th>
							<% end %>
						</tr>
						<tr>
							<td colspan="4"></td>
						</tr>
					</thead>
					<tbody>
						<% @auditions.each do |audition| %> 
					    <%= fields_for "auditions[#{audition.id}]", audition do |builder| %>
					    	<% if @aud_admin %>
				  	  		<%= render :partial => 'form_admin', :locals => {:audition => audition, :form => builder} %>
				    		<% else %>
				    			<%= render :partial => 'form', :locals => {:audition => audition, :form => builder} %>
					    	<% end %>
					    <% end %>
					  <% end %>
					</tbody>
			  	<% if @aud_admin %>
				  	<tfoot>
						  <tr>
						  	<td></td>
						  	<td colspan="6">
						  		<%= submit_tag "Delete Selected", :class => "btn btn-primary", :data => { :confirm => "This will delete the selected auditions. There is no undo. Are you sure?" } %> &nbsp;
						  		<%= link_to "Past auditions", {:action => :past, :film_id => @film.id}, :class => 'btn btn-link' if @recent_auditions.any? %>
						  	</td>
				  	  </tr>
				  	</tfoot>
				  <% end %>
			  </table>
			  
			<% end %>
		<% end %>
	</div>
</div>
