<h1>Past Auditions: <%= @film.title %></h1>

<div class="row">
	<div class="col-md-12">

		<table class="table table-striped">
			<tr>
				<th>Audition Time</th>
				<th>Location</th>
				<th>Person</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>

			<tr><td colspan="5"></td></tr>

			<% @auditions.each do |audition| %>
			<tr>

				<td>
	  	    <%= short_date audition.starts_at %> at
	    	  <%= time audition.starts_at %>
				</td>

				<td><%= audition.location %></td>

				<% if audition.person %>
					<td><%= audition.person.display_name %></td>
					<td><%= audition.email %></td>
					<td><%= audition.phone %></td>

				<% else %>
					<td colspan="3">Not Taken</td>

				<% end %>

			</tr>
	  	<% end %>
		</table>

	</div>

</div>
