<% javascript 'admin.js' %>
<h1>Announcements Dashboard</h1>

<div class="row">

  <div class="col-md-12">

    <%= form_tag({:controller => "announcements", :action => "update_all"}, :remote => true, :class => "form-horizontal") do -%>
    
      <h3>Manage Annoucements</h3>
      <p>The top most active announcement will be shown on the homepage.</p>

      <table class="table table-striped">
        <tbody>
          <% @announcements.each do |announcement| -%>
            <tr>
              <td width="10px">
                <%= link_to "&times;".html_safe, announcement_path(announcement), :method => :delete, :class => "btn btn-xs btn-danger", :confirm => "This will permanently delete this announcement. There is no undo. Are you sure?" %>
              </td>
              <td>
                <input type="hidden"
                       name="announcements[<%= announcement.id %>][active]" value="0" />
                <input type="checkbox"
                       name="announcements[<%= announcement.id %>][active]" value="1"
                       <%= 'checked="checked"' if announcement.active? %> /> &nbsp;
                <%= link_to announcement.title, announcement %>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>

    <% end -%>

  </div>
  
</div>

<div class="row">

  <div class="col-md-12">
    <h3>Create Announcement</h3>
    <%= render "announcements/form" %>
  </div>

</div>
