<% javascript 'admin.js' %>
<h1>Admin Dashboard</h1>

<div class="row">

	<div class="col-md-6">
		<h3>Pending Film Queue</h3>
		<% if @pending_films.none? %>
			<p>No requests at this time!</p>
		<% else %>
			<table class="table table-striped">
				<tbody>
					<% @pending_films.each do |film| %>
						<tr>
							<td><%= link_to film.title, edit_film_path(film) %></td>
							<td><%= link_to "Approve", approve_film_path(film.id, :archive => 1), :class => "btn btn-xs btn-primary" %></td>
							<td><%= link_to "Approve (but don't archive)", approve_film_path(film.id), :class => "btn btn-xs btn-primary" %></td>
							<td>
								<%= form_for(:film, :url => film_path(film), :html => {:method => :delete}) do  %>
								<button type="submit" class="btn btn-xs btn-danger" onClick="return confirm('Are you sure you want to delete the selected film?')">Delete</button>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>

	<div class="col-md-6">
		<h3>Pending Event Queue</h3>
		<% if @pending_events.none? %>
			<p>No requests at this time!</p>
		<% else %>
			<table class="table table-striped">
				<tbody>
					<% @pending_events.each do |event| %>
						<tr>
							<td><%= link_to event.name, edit_event_path(event) %></td>
							<td><%= link_to "Approve", approve_event_path(event.id), :class => "btn btn-xs btn-primary" %></td>
							<td>
								<%= form_for(:event, :url => event_path(event), :html => {:method => :delete}) do  %>
								<button type="submit" class="btn btn-xs btn-danger" onClick="return confirm('Are you sure you want to delete the selected event?')">Delete</button>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>

	<div class="col-md-6">
		<h3>Pending Name Request Queue</h3>
		<% if @pending_takeovers.none? %>
			<p>No requests at this time!</p>
		<% else %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>User Name</th>
						<th>Requested Name</th>
						<th>Approve</th>
						<th>Reject</th>
					</tr>
				</thead>
				<tbody>
					<% @pending_takeovers.each do |req| %>
						<tr>
							<td><%= link_to req.person.display_name, req.person %></td>
							<td><%= link_to req.requested_person.display_name, req.requested_person %></td>
							<td><%= link_to "Approve", approve_takeover_path(req), :class => "btn btn-xs btn-primary" %></td>
							<td><%= link_to "Reject", reject_takeover_path(req), :class => "btn btn-xs btn-danger" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>

	<div class="col-md-6">
		<h3>Email all</h3>
		<form class="form-horizontal" role="form" action="<%= url_for :action => :email_all %>">
			<div class="form-group">
				<label class="col-sm-2 control-label">Films</label>
				<div class="col-sm-10">
					<label class="radio-inline"><input type="radio" name="films" value="upcoming" /> Upcoming</label>
					<label class="radio-inline"><input type="radio" name="films" value="semester" /> This Semester</label>
					<label class="radio-inline"><input type="radio" name="films" value="year" /> This Year</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Positions</label>
				<div class="col-sm-10">
					<label class="radio-inline"><input type="radio" name="positions" value="producers" /> Producers</label>
					<label class="radio-inline"><input type="radio" name="positions" value="contacts" /> Producers, directors and stage managers</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="subject">Subject</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="subject" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="message">Message</label>
				<div class="col-sm-10">
					<textarea class="form-control" name="message"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Send</button>
				</div>
			</div>
		</form>
	</div>

</div>
