<% javascript 'admin.js' %>
<h1>Films Admin</h1>

<h3>Manage Films</h3>
<div class="row">

  <div class="col-md-12">
    <form method="get" action="<%= film_dashboard_path('slug') %>" class="form-horizontal auto-slug">
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-1">
          <%= select_tag nil, options_from_collection_for_select(@films, :slug, :title), :class => "form-control", :prompt => "Select a film..." %>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-default">Edit</button>
        </div>
      </div>
    </form>

    <%= form_for(:film, :url => film_path("slug"), :html => {:method => :delete, :class => "form-horizontal auto-slug"}) do  %>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-1">
          <%= select_tag nil, options_from_collection_for_select(@films, :slug, :title), :class => "form-control", :prompt => "Select a film..." %>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-default" onClick="return confirm('Are you sure you want to delete the selected film?')">Delete</button>
        </div>
      </div>
    <% end %>
    
  </div>
  
</div>

<div class="row">

  <div class="col-md-4">
    <h3>Positions</h3>
    <% @positions.each do |position| -%>
      <%= form_for position, :remote => true, :html => {:class => "alert-on-error"} do |f| -%>
        <div class="row">
          <div class="col-md-2">
            <%= link_to "&times;".html_safe, position_path(position), :method => :delete, :class => "btn btn-danger", :confirm => "This will permanently delete this position. There is no undo. Are you sure?" %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :position, :class => "form-control", :onChange => "$(this).closest('form').submit()" %>
          </div>
        </div>
        <br />
      <% end -%>
    <% end -%>
    <%= form_for Position.new, :html => {:class => "alert-on-error"} do |f| -%>
      <div class="row">
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">+</button>
        </div>
        <div class="col-md-10">
          <%= f.text_field :position, :class => "form-control", :placeholder => "Position" %>
        </div>
      </div>
    <% end -%>
  </div>

  <div class="col-md-4">
    <h3>Activities</h3>
    <% @activities.each do |activity| -%>
      <%= form_for activity, :remote => true, :html => {:class => "alert-on-error"} do |f| -%>
        <div class="row">
          <div class="col-md-2">
            <%= link_to "&times;".html_safe, activity_path(activity), :method => :delete, :class => "btn btn-danger", :confirm => "This will permanently delete this activity. There is no undo. Are you sure?" %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :name, :class => "form-control", :onChange => "$(this).closest('form').submit()" %>
          </div>
        </div>
        <br />
      <% end -%>
    <% end -%>
    <%= form_for Activity.new, :html => {:class => "alert-on-error"} do |f| -%>
      <div class="row">
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">+</button>
        </div>
        <div class="col-md-10">
          <%= f.text_field :name, :class => "form-control", :placeholder => "Activity" %>
        </div>
      </div>
    <% end -%>
  </div>

  <div class="col-md-4">
    <h3>Genres</h3>
    <% @genres.each do |genre| -%>
      <%= form_for genre, :remote => true, :html => {:class => "alert-on-error"} do |f| -%>
        <div class="row">
          <div class="col-md-2">
            <%= link_to "&times;".html_safe, genre_path(genre), :method => :delete, :class => "btn btn-danger", :confirm => "This will permanently delete this genre. There is no undo. Are you sure?" %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :name, :class => "form-control", :onChange => "$(this).closest('form').submit()" %>
          </div>
        </div>
        <br />
      <% end -%>
    <% end -%>
    <%= form_for Genre.new, :html => {:class => "alert-on-error"} do |f| -%>
      <div class="row">
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">+</button>
        </div>
        <div class="col-md-10">
          <%= f.text_field :name, :class => "form-control", :placeholder => "Genre" %>
        </div>
      </div>
    <% end -%>
  </div>

</div>
