<% javascript 'admin.js' %>
<%= link_to "New Job", new_job_path, :class => "btn btn-primary pull-right" %>
<h1>Jobs Admin</h1>

<div class="row">

  <div class="col-md-12">
    
    <%= form_tag "", :method => :get, :class => "form-inline text-right pull-right" do -%>
    <label for="scope">Order by</label>
    <%= select_tag "scope", options_for_select(@scopes.collect {|s| [s.to_s.titlecase, s]}, @scope), :class => "form-control", :onChange => "this.form.submit()" -%>
    &nbsp; &nbsp; &nbsp;
    <%= check_box_tag "desc", "1", params[:desc] == "1", :id => "desc", :onChange => "this.form.submit()" %> &nbsp;
    <label for="desc">Descending</label>
    <% end -%>

    <h3>Manage Jobs</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>From</th>
          <th>To</th>
          <th>Company</th>
          <th>Position</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| -%>
          <tr>
            <td>
              <%= link_to "&times;".html_safe, job_path(job), :method => :delete, :class => "btn btn-md btn-danger", :confirm => "This will permanently delete this job. There is no undo. Are you sure?" %>
            </td>
            <td>
              <%= short_date job.start_date %>
            </td>
            <td>
              <%= short_date job.end_date %>
            </td>
            <td>
              <%= job.company %>
            </td>
            <td>
              <%= job.position %>
            </td>
            <td>
              <%= link_to job.title, edit_job_path(job) %>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

</div>
