<% javascript 'admin.js' %>
<h1>Pages Dashboard</h1>

<div class="row">

  <%= form_tag({:controller => "pages", :action => "update_all"}, :class => "form-horizontal") do -%>  
    <% @pages.each do |menu, pages| -%>
      <div class="col-md-4">
        <h4><%= menu.to_s.titlecase.singularize %> Pages</h4>
        <table class="table table-striped">
          <tbody class="sortable">
            <% pages.each do |page| -%>
              <tr>
                <td width="10px">
                  <%= link_to "&times;".html_safe, page_path(page), :method => :delete, :class => "btn btn-xs btn-danger", :confirm => "This will permanently delete this page. There is no undo. Are you sure?" %>
                </td>
                <td width="10px">
                  <span class="drag-handle glyphicon glyphicon-move"></span>
                  <input type="hidden" class="sort-value"
                         name="pages[<%= page.id %>][position]"
                         value="<%= page.position %>" />
                </td>
                <td>
                  <%= link_to page.menu_title, edit_page_path(page) %>
                </td>
              </tr>
            <% end -%>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                <%= link_to "New #{menu.to_s.titlecase.singularize} Page", new_page_path(menu: menu), :class => "btn btn-sm btn-default" %>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    <% end -%>
  <% end -%>

</div>
