<h1>Jobs &amp; Internships</h1>

<form class="form-inline" role="form">
  <div class="row controls">

    <div class="col-md-1 form-group">
      <strong class="form-control-static">Sort by:</strong>
    </div>

    <div class="col-md-4">
      <% @scopes.each do |scope| -%>
        <button type="submit" name="scope" value="<%= scope %>"
            class="btn btn-<%= @scope == scope ? :primary : :link %>">
          <%= scope.to_s.titlecase %>
        </button>
      <% end -%>
    </div>

    <div class="col-md-6">
      <%= select_tag :state, grouped_options_for_select(@state_options, params[:state]), :prompt => 'Any Country and State', :class => 'form-control' %>
      <%= select_tag :paid, options_for_select([['Paid', true], ['Unpaid', false]], params[:paid]), :prompt => 'Any Compensation', :class => 'form-control' %>
      <%= select_tag :alum, options_for_select([['Yes', true], ['No', false]], params[:alum]), :prompt => 'Any Alumni affiliation', :class => 'form-control' %>
    </div>

    <div class="col-md-1">
      <button type="submit" name="scope" value="<%= @scope %>" class="btn btn-default">Filter</button>
    </div>

  </div>

</form>

<div class="grid row">

  <% if @jobs.empty? -%>
    <div class="col-md-12">
      <h4>No matching jobs were found.</h4>
    </div>

  <% else -%>
    <% @jobs.each do |job| -%>
      <div class="col-md-4">
        <h4><%= job.company %></h4>

        <p>

          <strong>Position:</strong>
          <%= job.position %>
          <br />

          <strong>Timeframe:</strong>
          <%= short_date job.start_date %> -
          <%= short_date job.end_date %>
          <br />

          <strong>Compensation:</strong>
          <%= job.compensation || 'Unpaid' %>
          <br />

          <address>
            <%= job.full_address.join('<br />').html_safe %>
          </address>

          <%= render "dialog", job: job %><br />

        </p>

      </div>
    <% end -%>

</div>

<% end -%>
