<% if film.poster.exists?  && film.poster.height(:medium) >= film.poster.width(:medium) && row_count <= 2 # vertical/square poster 2-item row %>
	<div class="row <%= css_classes %>">
		<div class="span3 poster"><%= image_tag film.poster.url(:medium) %></div>
		<div class="span3 info">
<% elsif film.poster.exists? && row_count <= 2 # horizontal poster, in a 2-item row...poster as background %>
	<div class="poster-bg row <%= css_classes %>" style="background-image: url('<%= film.poster.url(:medium).gsub(/'/,%q(\\\')) %>'); min-height: <%= film.poster.height(:medium) %>px; ">
		<div class="span3 offset3 text-on-image info" style="height: <%= film.poster.height(:medium) %>px; width: 250px;">
<% elsif film.poster.exists? && film.poster.height(:medium) * 5/4 >= film.poster.width(:medium) && row_count == 3 # vertical poster, in a 3-item row...poster above  %>
	<div class="poster-bg row <%= css_classes %>" style="background-image: url('<%= film.poster.url(:medium).gsub(/'/,%q(\\\')) %>'); min-height: <%= film.poster.height(:medium) %>px; ">
		<div class="text-on-image info" style="position: absolute; bottom: 0px;">
<% elsif film.poster.exists? && row_count == 3 # horizontal poster, in a 3-item row...poster above  %>
	<div class="row <%= css_classes %>">
		<div class="top poster"><%= image_tag film.poster.url(:medium) %></div>
		<div class="bottom info">
<% elsif film.poster.exists? && film.poster.height(:medium) * 5/4 >= film.poster.width(:medium) && row_count == 4 # vertical poster, in a 4-item row...poster above, and ensure that it is of height between 300 - 400px  %>
	<div class="poster-bg row <%= css_classes %>" style="background-image: url('<%= film.poster.url(:medium).gsub(/'/,%q(\\\')) %>'); min-height: <%= [[300, (220 / film.poster_ratio).to_i].max, 400].min %>px;">
		<div class="text-on-image info" style="position: absolute; bottom: 0px;">
<% elsif film.poster.exists? && row_count == 4 # horizontal poster, in a 3-item row...poster above  %>
	<div class="row <%= css_classes %>">
		<div class="top poster"><%= image_tag film.poster.url(:medium) %></div>
		<div class="bottom info">
<% else # No Poster %>
	<div class="row info full <%= css_classes %>">

<% end %>
		<p data-field="film_title" class="title"><%= link_to film.title, best_link(film) unless film.id.blank? %></p>
		<p><span data-field="film_showtimes"><%= format_long_rundates(film) %></span><br />
		<a class="btn btn-primary" href="<%= best_link(film) %>">
			<i class="icon-arrow-right icon-white"></i>
			Details
		</a>
	</div>

<% if film.poster.exists? %>
	</div>
<% end %>