<div class="row">

	<div class="col-md-8">

		<!-- SLIDESHOW -->
		<div id="carousel-homepage" class="carousel slide"
				 data-ride="carousel" data-interval="<%= @site.carousel_interval %>">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		  	<% @carousels.all.each_with_index do |carousel, index | -%>
			    <li data-target="#carousel-homepage"
			    		data-slide-to="<%= index %>"
			    		class="<%= :active if index == 0 %>">
		    	</li>
		    <% end -%>
		  </ol>
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		  	<% @carousels.all.each_with_index do |carousel, index| -%>
			    <div class="item <%= :active if index == 0 %>">
						<%= image_tag carousel.image.url(:homepage) %>
			      <div class="carousel-caption">
			        <h3><%= carousel.title %></h3>
			        <p><%= carousel.body %></p>
			      </div>
			    </div>
		    <% end -%>
		  </div>
		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-homepage" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-homepage" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>

	</div>

	<div id="upcoming-productions" class="col-md-4">
		<h3>Upcoming Productions</h3>
		<div class="productions">
			<% @upcoming_films.each do |film| -%>
				<div class="production clearfix row">
					<div class="col-md-4 image text-center">
						<%= image_tag "placeholder-image.png" %>
					</div>
					<div class="col-md-8 info">
						<%= link_to film.title, film %><br />
						Directed By: <%= link_to film.director.name, film.director %><br />
						<%= smart_date film.start_date, :short %> through
						<%= smart_date film.end_date, :short %><br />
						<%= link_to "Opportunities", "" %> |
						<%= link_to "Auditions", "" %>
					</div>
				</div>
			<% end -%>
		</div>
		<div class="footer">
			<%= link_to "View All Productions", films_path %>
		</div>
	</div>

</div>

<br />
<br/ >

<div class="row">

	<div class="col-md-4">

		<h3>Announcements</h3>
		<p><strong><%= @announcement.title %></strong></p>
		<p><%= @announcement.body %></p>
		<p><%= link_to @announcement.link_text, @announcement.link_url %></p>

	</div>

	<div class="col-md-4">

		<h3>Featured Event</h3>

		<div class="row">
			<div class="col-md-5 image text-center">
				<%= image_tag @featured_event.event.image.url(:homepage) -%>
			</div>
			<div class="col-md-7 info">
				<%= link_to @featured_event.event.name, "" %><br />
				<%= smart_date @featured_event.date, :short %><br />
				<%= smart_time @featured_event.starts_at %> -
				<%= smart_time @featured_event.ends_at %><br />
				<%= @featured_event.event.location %><br />
				<%= link_to_building @featured_event.event.building %>
			</div>
		</div>
		<p><%= link_to "See more events", events_path %></p>

	</div>

	<div class="col-md-4">

		<h3>Get Involved with YFA</h3>

		<p>The Yale Film Alliane is a student and faculty group that provides a cohesive support system for students interested in film.</p>
		<p>This site acts as a home base for everything related to film-making and moving images that takes place on campus as well as a recource for off-campus opportunities, such as festivals, fellowships, jobs and internships.</p>
		<p><%= link_to "Sign up", "" %>

	</div>
</div>
