<div class="row">
	<div class="span7">
		<h2>About the YFA</h2>
			<b>The Yale Film Alliance (YFA)</b> was founded in 1999 to foster a union of student voices impassioned by film at Yale. The YFA seeks to foster communication and collaboration within the undergraduate film community and provides guidance and resources for film productions. The YFA Board is actively engaged in advocating for the needs of the film community to the Yale administration, in addition to creating programming and events to enrich the film life on campus. The organization has an open membership and welcomes input and participation from all interested Yale students. Roughly 650 undergraduates will be actively involved with YFA activities each year.
			<br />
			<strong>For more information, please read our full <%= link_to "constitution", guides_path('constitution') %></strong>
			<br /><br /><hr />
		<h2>How to use the YFA Site!</h2>
		<p class="answer">
				<ul>
					<li>You'll be asked to login through CAS and make an account on this site. It's easy and prefilled. Do it.</li>
					<li>We'll suggest names similar to yours, if they are you, let us know!</li>
					<li>All your auditions, and films now live in <%= link_to "My Dashboard", dashboard_path %></li>
					<li>List a <%= link_to "new film", new_film_path %> from your dashboard</li>
				</ul>
		</p>
		<p class="question">CAS Authentication</p>
		<p class="answer">We're using CAS authentication on the YFA site - you use the login you already use for all your other Yale accounts.</p>
		<p class="question">My Dashboard</p>
		<p class="answer">Your dashboard is your new account space on YFA, accessible from the top right corner of the page. From your dashboard you can access: 
			<ul>
				<li> Auditions you've scheduled. </li> 
				<li> Films that you have permission to manage. </li> 
			</ul>
			<br />
		</p>
		<p class="question">Film Dashboard</p>
		<p class="answer">From a film's dashboard you can:
			<ul>
				<li>List cast/crew and other film information.</li>
				<li>Manage auditions.</li>
				<li>Manage permissions, which give people working on your film different levels of access to the film’s dashboard.</li>
				<li> Customize the order in which your cast and prod staff are listed. </li> 
				<li> Preview what your film will look like on our site before publishing it. </li> 
				<li>See files you've uploaded, add more, or remove existing ones</li>
				<li> Integrate a Flickr gallery with photos from your film. These will film on your site and allow future generations to see photos of your film.</li>
			</ul>
			In summary, everything about your film, is on its dashboard
		</p>
		<p class="question"> Film Pages </p>
		<p class="answer"> You’ll notice that film pages now have a different look and feel, including accent colors, and associate positions. We hope these new features will make your film an even greater success, and they can all be managed through the Film Dashboard. </p>

		<a id="FAQ"></a><h2> FAQs </h2>
		<p class="question">Where do I sign up for the weekly newsletter? </p>
		<p class="answer">
			Every week the YFA sends out a newsletter to update you on the film scene at Yale - it's the go-to place for all there is to know about undergraduate film: auditions, tech info, and special workshops! There are two ways you can join or list:
			<ul>
				<li>Send a message to our current secretary, <a href="mailto:Eli.Block@yale.edu">Eli Block</a>. He'd love to hear from you!</li>
				<li>Add yourself! Navigate to your <a href="http://messages.yale.edu/Subscribe/MySubscriptions" target="new">Yale Subscription Management page</a>, click Undergraduate Organizations, Performance, and then find us under "Film Alliance, Yale: An Undergrad. Organization" <br /> It's super-easy: we promise!</li>
			</ul>
		</p>
		<p class="question">Do I need to use my CAS login? </p>
		<p class="answer">
			In order to manage a film page and/or your YFA profile, you must login with your CAS credentials. Trust us, things will be a whole lot easier this way. It will also expedite the process of signing up for audition slots and reserving tickets for films, as the YFA site will remember your information.
		</p>
		<p class="question">Help! When I look at my bio it is missing a bunch of films!</p>
		<p class="answer">
			Don't worry! You probably accidentally ended up with multiple bio-pages accidentally. To re-assure yourself go ahead and search for your name in the search bar above. Look! You're there multiple times!
		</p>
		<p class="answer">
			To fix this navigate to your dashboard, and click the link on the left hand side to request names that are "similar to yours." Stay calm and wait, the requests can take a few days to process... but we'll have you linked up and running in no time!
		</p>
		<p class="question">I'm in charge of a film... does it belong on your site?</p>
		<p class="answer">The short answer is that most undergraduate film, dance, and improv films can be listed on our site. For the official policies (or if you don't fall into one of those categories and would like to know what's appropriate), click <%= link_to "here", guides_path('postingPolicy') %>. The Yale Film Alliance reserves the right to refuse listing for any film at their discretion.</p>
			<a id="board"></a>
			<br /><hr><br />

<b>YFA Executive Board & Staff 2014</b>:<br />
			<table border="0"><tr><td>
				<br /><b>Board Members</b>
				<ul type="none">
					<li> President: <a href="mailto:nikki.teran@yale.edu">Nikki Teran</a>
					<li> Vice President: <a href="mailto:skyler.ross@yale.edu">Skyler Ross</a>
					<li> Secretary: <a href="mailto:eli.block@yale.edu">Eli Block</a>
					<li> Treasurer: <a href="mailto:yuli.steffina@yale.edu">Steffi Yuli</a>
					<li> Development Officer: <a href="mailto:katherine.pincus@yale.edu">Kate Pincus</a>
					<li> Special Events Coordinator: <a href="mailto:eliza.robertson@yale.edu">Eliza Robertson</a>
					<li> Alumni/Career Chair: <a href="mailto:leah.salovey@yale.edu">Leah Salovey</a>
					<li> Freshman Liaison: <a href="mailto:sabrina.bleich@yale.edu">Sabrina Bleich</a>
					<li> Publicity/Social Chair: <a href="mailto:lauren.modiano@yale.edu">Lauren Modiano</a>
					<li> Llamas-at-large: <a href="mailto:lucie.ledbetter@yale.edu">Lucie Ledbetter</a>, <a href="mailto:shannon.csorny@yale.edu">Shannon Csorny</a>, <a href="mailto:anya.richkind@yale.edu">Anya Richkind</a>, <a href="mailto:douglas.streat@yale.edu">Doug Streat</a>
			
			</ul>
			 	</td></table><br /> 
			<b>Web Design Information</b>
			<ul type="none">
				<li>For more information, please send an email to:
				<ul type="none">
					<li> former webmaster and site coder, <a href="mailto:charlie.croom@gmail.com">Charlie Croom</a>
					<li> or the current webmaster <a href="mailto:eli.block@yale.edu">Eli Block</a>
				</ul>
				<li>(C) 2005-2014 The Yale Film Alliance. All rights reserved.
			</ul>
	</div>
	<div class="span4 offset1">
		<h3>Help with Yale Film</h3>

		<h4>Yale Film How-tos</h4><br /><br />
		The articles below are meant to help you accomplish your film goals; written by upperclassmen and alums who've held these positions on many productions. They are not perfect documents, but should serve as useful guides as you embark on a new film journey.<br />
		<br />
		<ul type="none">
			<li><%= link_to "Directing a Film", guides_path('directing') %></li>
			<li><%= link_to "Producing a Film", guides_path('produce') %></li>
			<li><%= link_to "Designing the Set for a Film", guides_path('scenic') %></li>
			<li><%= link_to "Lighting a Film", guides_path('light') %></li>
			<li><%= link_to "Finding Props for a Film", guides_path('props') %></li>
			<li><%= link_to "Costuming a Film", guides_path('costumes') %></li>
			<li><%= link_to "Acting", guides_path('acting') %></li>
			<li><%= link_to "Auditioning", guides_path('auditioning') %></li>
			<li><%= link_to "Casting Policy", guides_path('castingpolicy') %></li>			
			<hr /> <center>Updates coming soon to:</center>
			<li><%= link_to "Sound Designing a Film", guides_path('sound') %></li>
			<li><%= link_to "Writing Your Own Film", guides_path('writing') %></li>
		</ul>

		<table cellpadding="20" border="0"><tr><td>
		</td></tr></table><hr><br />
		<h4>Other Resources</h4><br /><br />
		<ul type="none">
			<li><%= link_to "Film Groups at Yale", guides_path('filmGroups') %></li>
			<li><%= link_to "YFA Website Listing Policy", guides_path('postingPolicy') %></li>
			<li><a href="http://up.yalecollege.yale.edu/" target="new">The UNDERGRADUATE PRODUCTION Website</a></li>
			<li><a href="http://up.yalecollege.yale.edu/performance-rehearsal-venues" target="new">Locations of Film Spaces at Yale</a></li>
			<li><a href="http://up.yalecollege.yale.edu/sites/default/files/imce/UP%20Forms_%20ProductionApplication%20OBT.Co-op12.3.12F.pdf" target="new">Off-Broadway Film Proposal Form</a></li>
			<li> <a href="#" onClick="window.open('./static/guides/recommendedreading.html','mywindow','width=600,height=800,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes	<li>">Recommended Reading (et al) from Film Studies Professors</a></li>
			<li><a href="#" onClick="window.open('./archives/arch-alumni.html','mywindow','width=600,height=800,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">YFA Alumni</a></li>
		</ul>
		<br /><hr><br />

		<h4>Film Studies Information</h4><br /><br />
		<i>Introduction (from the Film Studies website):</i><br />
		As a major within the humanities and as a complex cultural practice, film claims a rich history and literature and an equally rich repertoire of embodied knowledge and theory. Film Studies emphasizes the reciprocal relationship between practice and scholarly study. The content of required courses in the major is almost equally divided between theory and practice. Students are encouraged to engage intellectual and physical approaches to explore diverse cultural forms, historical traditions, and contemporary life.
		<br /><br />
		The study of film is interdisciplinary in scope and global in perspective. Students are expected to take courses also in cognate disciplines such as history, philosophy, anthropology, political science, film, art, music, literature, and foreign languages. Faculty members are affiliated with a range of departments and programs; their diverse expertise lends breadth and depth to course offerings and enables students to devise a course of study reflective of their developing interests.
		<br /><br />
		<a href="http://www.yale.edu/filmstudies/" target="new">Film Studies Program Home</a><br />
		<a href="#" onClick="window.open('thst-contacts.html',Film Studies Contact Info)"></a><br />
		<br />
</div>
