<tr>
	<div class="row">

		<% if f.object && f.object.position_id == Position.actor_id %>

			<td width="10px">
				<%= link_to_remove_fields "&times;".html_safe, f %>
			</td>

			<td>
				<%= f.text_field :character, :placeholder => "Character", :class => "form-control" %>
				<%= f.hidden_field :position_id, :value => Position.actor_id %>
			</td>

			<td>
				<%= f.text_field :name, :class => "form-control autocomplete-person", :value => f.object.person.try(:display_name), :placeholder => "Student Name" %>
				<%= f.hidden_field :person_id, :class => "person_id" %>
				<%= f.hidden_field :listing_order %>
			</td>

		<% else %>

			<td width="10px">
				<%= link_to_remove_fields "&times;".html_safe, f %>
			</td>

			<td>
				<%= f.collection_select(:position_id, Position.crew, :id, :position, {:include_blank => true}, :class => "form-control") %>
			</td>

			<td>
				<%= f.text_field :name, :class => "form-control autocomplete-person", :value => f.object.person.try(:display_name), :placeholder => "Student Name" %>
				<%= f.hidden_field :person_id, :class => "person_id" %>
				<%= f.hidden_field :listing_order %>
			</td>

		<% end %>

	</div>
</tr>
