<h1><%= @film.title %> <small>Dashboard</small></h1>

<div class="grid row">

  <div class="col-md-6">

  	<h4>Film Details &nbsp; <small><%= link_to "Edit", edit_film_path(@film) %></small></h4>
  	<div class="row">
  		<div class="col-md-2">
  			<label>Title</label>
  		</div>
  		<div class="col-md-10">
  			<%= link_to @film.title, @film %>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-2">
  			<label>Timeline</label>
  		</div>
  		<div class="col-md-10">
        <%= long_date @film.start_date %> -
        <%= long_date @film.end_date %>
  		</div>
  	</div>

    <h4>Files &nbsp; <small><%= link_to "Manage", film_edit_files_path(@film) %></small></h4>
    <div class="row">
      <div class="col-md-12">
        <% @film.s3_objects.each do |obj| %>
          <%= link_to obj.key.split("/")[-1], "#{obj.url_for(:read)}" %><br />
        <% end %>
      </div>
    </div>

  </div>

  <div class="col-md-6">
  	<h4>Screenings &nbsp; <small><%= link_to "Edit", edit_film_path(@film) %></small></h4>
    <table class="table table-striped">
      <tbody>
        <% @film.screenings.by_date.each do |screening| -%>
        <tr>
          <td>
            <%= long_date screening.starts_at %>,
            <%= time screening.starts_at %>
          </td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

</div>

<div class="grid row">
  <div class="col-md-6">
    <h4>Cast &amp; Crew &nbsp; <small><%= link_to "Edit", film_edit_people_path(@film) %></small></h4>

    <p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Cast</th>
          </tr>
        </thead>
        <tbody>
          <% @film.cast.each do |cast| -%>
          <tr>
            <td><%= cast.character %></td>
            <td>
              <% if cast.person -%>
              <%= link_to cast.person.name, cast.person %>
              <% else -%>
              <em>Vacant</em>
              <% end -%>
            </td>
          </tr>
          <% end -%>
        </tbody>
        <thead>
          <tr>
            <th colspan="2">Crew</th>
          </tr>
        </thead>
        <tbody>
          <% @film.crew.each do |crew| -%>
          <tr>
            <td><%= crew.position.position %></td>
            <td>
              <% if crew.person -%>
              <%= link_to crew.person.name, crew.person %>
              <% else -%>
              <em>Vacant</em>
              <% end -%>
            </td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </p>

  </div>

  <div class="col-md-6">
  	<h4>Auditions &nbsp; <small><%= link_to "Edit", film_edit_people_path(@film) %></small></h4>
		<%= render 'auditions/groups', :audition_groups => Audition.group_into_blocks(@film.auditions) %>
  </div>

</div>