<h1><%= @film.title %> <small>Dashboard</small></h1>

<div class="row">

  <div class="col-md-4">

  	<h4>Film Details &nbsp; <small><%= link_to "Edit", edit_film_path(@film) %></small></h4>
  	<div class="row">
  		<div class="col-md-2">
  			<label>Title</label>
  		</div>
  		<div class="col-md-10">
  			<%= link_to @film.title, @film %>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-2">
  			<label>Timeline</label>
  		</div>
  		<div class="col-md-10">
        <%= long_date @film.start_date %> -
        <%= long_date @film.end_date %>
  		</div>
  	</div>

    <div class="row">
      <div class="col-md-2">
        <label>Genres</label>
      </div>
      <div class="col-md-10">
        <% if @film.genres.none? -%>
        No genres have been selected.
        <% else -%>
          <% @film.genres.each do |genre| -%>
            <span class="label label-default"><%= genre.name %></span>
          <% end -%>
        <% end -%>
      </div>
    </div>

  </div>

  <div class="col-md-4">
    <h4>Screenings &nbsp; <small><%= link_to "Edit", edit_film_path(@film) %></small></h4>
    <table class="table table-striped">
      <tbody>
        <% @film.screenings.by_date.each do |screening| -%>
        <tr>
          <td>
            <%= long_date screening.starts_at %>,
            <%= time screening.starts_at %>
          </td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h4>Video Links &nbsp; <small><%= link_to "Edit", edit_film_path(@film) %></small></h4>
    <table class="table table-striped">
      <tbody>
        <% @film.links.each do |link| -%>
        <tr>
          <td>
            <%= link_to link.name, link.url, target: '_blank' %>
          </td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h4>Files &nbsp; <small><%= link_to "Manage", film_edit_files_path(@film) %></small></h4>
    <div class="row">
      <div class="col-md-12">
        <% if @film.s3_objects.any? -%>
          <table class="table table-striped">
            <tbody>
              <% @film.s3_objects.each do |obj| %>
                <tr>
                  <td><%= link_to_file obj %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else -%>
          <p>No files uploaded</p>
        <% end -%>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <h4>Cast &nbsp; <small><%= link_to "Edit", film_edit_people_path(@film) %></small></h4>
    <table class="table table-striped">
      <tbody>
        <% @film.cast.each do |cast| -%>
        <tr>
          <td><%= cast.character %></td>
          <td>
            <% if cast.person -%>
            <%= link_to cast.person.name, cast.person %>
            <% else -%>
            <em>Vacant</em>
            <% end -%>
          </td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h4>Crew &nbsp; <small><%= link_to "Edit", film_edit_people_path(@film) %></small></h4>
    <table class="table table-striped">
      <tbody>
        <% @film.crew.each do |crew| -%>
        <tr>
          <td><%= crew.position.position %></td>
          <td>
            <% if crew.person -%>
            <%= link_to crew.person.name, crew.person %>
            <% else -%>
            <em>Vacant</em>
            <% end -%>
          </td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
  	<h4>Auditions &nbsp; <small><%= link_to "Edit", film_edit_people_path(@film) %></small></h4>
    <table class="table table-striped">
      <tbody>
        <% @film.auditions.each do |audition| -%>
        <tr>
          <td><%= short_date audition.starts_at %></td>
          <td><%= time audition.starts_at %></td>
          <td><%= link_to audition.person.name, audition.person if audition.person %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

</div>