<h1><%= @film.title %> <small>Edit</small></h1>
<% javascript 'edit.js' %>

<% if @film.errors.any? %>
	<div class="alert alert-dismissable alert-danger">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <strong>There were errors saving this film:</strong>
			<% @film.errors.full_messages.each do |error| %>
			  <li><%= error %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @film, :validate => true, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
	<div class="row">
	  <div class="col-md-12">

		  <div class="form-group">
		    <label for="film_title" class="col-sm-2 control-label">Title</label>
		    <div class="col-sm-10">
		      <%= f.text_field :title, :class => "required", :placeholder => "Title", :validate => true, :class => "form-control" %>
		    </div>
		  </div>

			<div id="title_length_warning" class="alert alert-dismissable alert-danger col-sm-offset-2" style="display:none">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Warning!</strong> Consider using a tagline below to keep your title short. Longer titles may not appear as nicely throughout the site.
			</div>

		  <div class="form-group">
		    <label for="film_tagline" class="col-sm-2 control-label">Tagline</label>
		    <div class="col-sm-10">
		    	<%= f.text_field :tagline, :placeholder => "Tagline", :class => "form-control" %>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="film_start_date" class="col-sm-2 control-label">Timeline</label>
		    <div class="col-sm-4">
		    	<%= f.text_field :start_date, :placeholder => "Start Date", :class => "form-control" %>
		    </div>
		    <div class="col-sm-2 text-center">
		    	<label for="film_end_date" class="control-label">to</label>
		    </div>
		    <div class="col-sm-4">
		    	<%= f.text_field :end_date, :placeholder => "End Date", :class => "form-control" %>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="film_contact" class="col-sm-2 control-label">Contact</label>
		    <div class="col-sm-10">
		    	<%= f.text_field :contact, :placeholder => "Contact Email Address", :validate => true, :class => "form-control required" %>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="film_description" class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
		    	<%= f.cktext_area :description, :placeholder => "Summary/History/Other Info", :validate => true, :class => "form-control required" %>
		    </div>
		  </div>
			
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Poster</label>
				<div class="col-sm-10">
		    	<%= image_field f, :poster %>
				</div>
		  </div>

		  <div class="form-group">
		    <label class="col-sm-2 control-label">Screenings</label>
	    	<div class="col-sm-10">
			    <table class="table screenings">
			    	<tbody>
							<%= f.fields_for :screenings do |builder| %>
								<%= render 'screening_fields', :f => builder %>
							<% end %>
						</tbody>
						<tfoot>
							<tr><th colspan="3"><%= link_to_add_fields "+", f, :screenings %></th></tr>
						</tfoot>
					</table>
				</div>
			</div>

		  <div class="form-group">
		    <label class="col-sm-2 control-label">Video Links</label>
	    	<div class="col-sm-10">
			    <table class="table links">
			    	<tbody class="sortable">
							<%= f.fields_for :links do |builder| %>
								<%= render 'link_fields', :f => builder %>
							<% end %>
						</tbody>
						<tfoot>
							<tr><th colspan="3"><%= link_to_add_fields "+", f, :links %></th></tr>
						</tfoot>
					</table>
				</div>
			</div>

			<div class="form-group">
		    <label class="col-sm-2 control-label">
		    	Permissions<br />
					<small><a href="#" data-toggle="tooltip" data-placement="bottom" title="These are the people, besides you, who will be able to make changes to your film.">What's This?</a></small>
		    </label>
	    	<div class="col-sm-4">
					<table class="table permissions">
						<tbody>
							<%= f.fields_for :permissions do |builder| %>
								<%= render 'permission_fields', :f => builder %>
							<% end %>
						</tbody>
						<tfoot>
							<tr><th colspan="2"><%= link_to_add_fields "+", f, :permissions %></th></tr>
						</tfoot>
					</table>
				</div>

		    <label class="col-sm-2 control-label">Genres</label>
	    	<div class="col-sm-4">
					<table class="table film_genres">
						<tbody>
							<%= f.fields_for :film_genres do |builder| %>
								<%= render 'film_genre_fields', :f => builder %>
							<% end %>
						</tbody>
						<tfoot>
							<tr><th colspan="2"><%= link_to_add_fields "+", f, :film_genres %></th></tr>
						</tfoot>
					</table>
				</div>
			</div>

			<div class="col-sm-offset-2 col-sm-10">
				<%= f.submit @film.id ? "Submit" : "Next Step", :class => "btn btn-primary" %>
				<%= link_to "Cancel", film_dashboard_path(@film), :class => "btn btn-default" unless @film.new_record? %>
			</div>
		</div>
	</div>

<% end %>