<h1><%= @film.title %> <small>Edit Cast &amp; Crew</small></h1>
<% javascript 'edit.js' %>

<% if @film.errors.any? %>
	<div class="alert alert-dismissable alert-danger">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <strong>There were errors saving this film:</strong>
			<% @film.errors.full_messages.each do |error| %>
			  <li><%= error %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="row">
	<%= form_for @film, :validate => true do |f| %>

	  <div class="col-md-6">
	  	<h4>Production Staff</h4>
	  	<table class="table">
	  		<tbody class="sortable">
					<%= f.fields_for :film_positions, @film.crew do |builder| %>
						<%= render 'film_position_fields', :f => builder %>
					<% end %>
				</tbody>
				<tfoot>
					<tr><th><%= link_to_add_fields "+", f, :film_positions %></th></tr>
				</tfoot>
			</table>
	  </div>

	  <div class="col-md-6">
	  	<h4>Cast</h4>
	  	<table class="table">
	  		<tbody class="sortable">
					<%= f.fields_for :film_positions, @film.cast do |builder| %>
						<%= render 'film_position_fields', :f => builder %>
					<% end %>
				</tbody>
				<tfoot>
					<tr><th><%= link_to_cast_fields "+", f, :film_positions %></th></tr>
				</tfoot>
			</table>
	  </div>

	  <div class="col-md-12">
			<button type="submit" class="btn btn-primary">Save Changes</button>
			<a class="btn btn-default" href="<%= film_dashboard_path(@film) %>">Cancel</a>
		</div>

  <% end %>
</div>
<hr />

<div class="row">

	<h4>Auditions</h4>

  <div class="col-md-12">

  	<p>Easily organize cast auditions with the YFA's built-in scheduling, or manage the process on your own.</p>
  	<%= form_for @film, :validate => true, :remote => true do |f| %>
	  	<%= f.check_box :auditions_enabled %>
			<%= f.label :auditions_enabled, "Enable YFA Audition System" %>
		<% end %>

		<div id="aud_enabled_wrapper" class="row" style="<%= 'display:none' unless @film.auditions_enabled? %>">
			<% if @film.approved %>

				<div class="col-md-6">
					<h5><strong>Audition Information</strong></h5>
					<%= form_for @film, :validate => true, :remote => true do |f| %>
						<%= f.text_area :aud_info, :class => "form-control required", :placeholder => "Audition Info" %>
					<% end %>
				</div>

				<div class="col-md-6">
					<h5><strong>Manage Audition Slots</strong></h5>
					<%= form_tag film_auditions_path(@film), :method => :put, :class => 'form-horizontal' do %>
						<div id="audition_slots">
							<%= render :partial => 'auditions/groups' %>
						</div>
						<hr />
						<p>
							<%= render "auditions/add_multiple" %>
							<%= render "auditions/add_single" %>
						</p>
					<% end -%>
				</div>

			<% else %>

				<div class="alert alert-danger">
					Your film needs to be approved by an admin before you can add audition slots. Check back later!
				</div>

			<% end %>
		</div>

  </div>

</div>
