<h1>Projects</h1>

<% content_for :body_attrs, %(data-spy="scroll" data-target="#film-controls").html_safe %>

<div id="scrollspy">

  <div id="film-controls" class="row controls affix-top" data-spy="affix" data-offset-top="155">
    <ul class="nav nav-pills col-xs-4 col-sm-12">
      <% @groups.collect(&:first).each_with_index do |group, index| -%>
        <li role="presentation" class="<%= :active if index == 0 %>">
          <a href="#<%= group.to_s.parameterize %>"><%= group %></a>
        </li>
      <% end -%>
    </ul>
  </div>

  <% if @groups.empty? -%>
  <div class="date row">
    <h4>There are no films to be listed.</h4>
  </div>

  <% else -%>
    <% @groups.each do |group, films| -%>
    <div id="<%= group.to_s.parameterize %>" class="controls-spacer"></div>
    <h3><%= group %></h3>
    <div class="row grid">
      <% films.each do |film| -%>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="row">

            <div class="col-md-5 image">
              <%= lazy_image_tag film.poster.url(:grid), width: 125, height: 125 -%>
            </div>

            <div class="col-md-7 info">
              <p>
                <%= link_to film.title, film %><br />
                <%= short_date film.start_date %> -
                <%= short_date film.end_date %>
              </p>
            </div>

          </div>
        </div>
      <% end -%>
    </div>
    <hr />
    <% end -%>

  <% end -%>

</div>
