<div class="row">

	<div class="col-md-4">
		<%= image_tag @film.poster.url(:show) %>
	</div>

	<div class="col-md-8">
		<h1><%= @film.title %></h1>

		<% if @film.director -%>
		<p>Directed by <%= link_to @film.director.name, @film.director %></p>
		<% end -%>

		<%= @film.description.try(:html_safe) %>
	</div>

</div>

<br /><br />

<div class="row">

	<div class="col-md-4">
		<p>
			<strong>Genres</strong><br />
			<% if @film.genres.none? -%>
			No genres have been selected.
			<% else -%>
	      <% @film.genres.each do |genre| -%>
		      <a href="#" class="btn btn-default btn-xs"><%= genre.name %></a>
	      <% end -%>
	    <% end -%>
		</p>

		<p>
			<strong>Production timeline</strong><br />
			<%= long_date @film.start_date %> -
			<%= long_date @film.end_date %>
		</p>

		<p>
			<strong>Screening information</strong><br />
			<table class="table table-striped">
				<tbody>
					<% @film.screenings.by_date.each do |screening| -%>
					<tr>
						<td>
							<%= long_date screening.starts_at %>,
							<%= time screening.starts_at %><br />

		          <% if screening.location? -%>
		          <%= screening.location %><%= ',' if screening.building %>
		          <% end -%>

		          <%= link_to_building screening.building %>
						</td>
					</tr>
					<% end -%>
				</tbody>
			</table>
		</p>

		<p>
			<strong>Audition information</strong><br />
			<%= @film.aud_info.try(:html_safe) %><br />
			<%= link_to "Sign up here", film_auditions_path(@film) if @film.auditions.imminent.any? %>
		</p>

		<p>
			<strong>Contact information</strong><br />
			For all inquiries regarding this project, please contact
			<%= mail_to @film.contact, @film.contact %>
		</p>
	</div>

	<div class="col-md-4">

		<p>
			<strong>Cast</strong><br />
			<table class="table table-striped">
				<tbody>
					<% @film.cast.filled.each do |cast| -%>
					<tr>
						<td><%= cast.character %></td>
						<td><%= link_to cast.person.name, cast.person %></td>
					</tr>
					<% end -%>
				</tbody>
			</table>
		</p>

		<p>
			<strong>Crew</strong><br />
			<table class="table table-striped">
				<tbody>
					<% @film.crew.filled.each do |crew| -%>
					<tr>
						<td><%= crew.position.position %></td>
						<td><%= link_to crew.person.name, crew.person %></td>
					</tr>
					<% end -%>
				</tbody>
			</table>
		</p>

	</div>

	<div class="col-md-4">
		<p>
			<strong>Cast positions needed</strong><br />
			<table class="table table-striped">
				<tbody>
					<% @film.cast.vacant.each do |cast| -%>
					<tr>
						<td><%= cast.character %></td>
					</tr>
					<% end -%>
				</tbody>
			</table>
		</p>

		<p>
			<strong>Crew positions needed</strong><br />
			<table class="table table-striped">
				<tbody>
					<% @film.crew.vacant.each do |crew| -%>
					<tr>
						<td><%= crew.position.position %></td>
					</tr>
					<% end -%>
				</tbody>
			</table>
		</p>

		<p>
			<strong>Video links</strong><br />
			<table class="table table-striped">
				<tbody>
					<% @film.links.by_position.each do |link| -%>
					<tr>
						<td><%= link_to link.name, link.url, target: '_blank' %></td>
					</tr>
					<% end -%>
				</tbody>
			</table>
		</p>
	</div>

</div>