<% content_for :head do %>
	<% if params[:url_key].blank? && !@film.url_key.blank? %>
		<link type="canonical" href="<%= vanity_path(@film.url_key) %>">
	<% end %>
<% end %>

<div class="row">
	<div class="span12 film-header">
		<% if !@film.approved %>
			<div class="alert alert-info"><strong>DRAFT VIEW - Awaiting Approval</strong></div>
		<% end %>
		<h2 class="<%= @film.accent_color ? @film.accent_color.to_s : 'no_color' %>"><%= @film.title %></h2>
		<p class="tagline"><%= @film.tagline %></p>
	</div>
</div>

<% if @film.poster.exists? %>
	<div class="row">
		<div class="span12 poster">
			<%= image_tag @film.poster.url %>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="span8 offset2 description lg">
		<%= sanitize(@film.description, :tags => %w(b i em strong a br)).gsub(/\n/, '<br/>').html_safe %>
	</div>
</div>

<% if @film.contact? -%>
<div class="row">
	<div class="span8 offset2">
		<h5 style="display:inline">Contact the Production</h5>
		<small>at</small>
		<%= mail_to @film.contact %>
	</div>
</div>
<% end -%>

<div class="row">
	<div class="span4 offset2 performances lg">
		<h5>Showtimes</h5>
		<% @film.showtimes.each do |showtime| %>
			<%= raw style_full_showtime(showtime.timestamp) %><br />
		<% end %>
	</div>
</div>

<div class="row cast-crew">
	<div class="span4 offset2 cast">
		<h5>Cast</h5>
		<table>
			<% @film.cast.select(&:person).each do |sp| %>
				<tr><td><%= sp.display_name %></td><td><%= link_to sp.person.display_name, sp.person %></td></tr>
			<% end %>
		</table>
		<% if @film.has_future_auditions? %>
			<br />
			<%= link_to "Audition Information", film_auditions_path(@film) %>
		<% end %>
	</div>

	<div class="span4 crew">
		<h5>Production Staff</h5>
		<table>
			<% @film.crew.select(&:person).each do |sp| %>
				<tr><td><%= sp.display_name %></td><td><%= link_to sp.person.display_name, sp.person %></td></tr>
			<% end %>
		</table>
		<% if @film.has_opportunities? %>
			<br />
			<%= link_to "Find tech opportunities", opportunities_path %>
		<% end %>
	</div>
</div>

<% if @s3_objects.count > 0 %>
	<div class="row">
		<div class="span8 offset2 media">
			<h5>Media &amp; Downloads</h5>
			<% @s3_objects.in_groups_of(3) do |arr| %>
				<div class="row">
					<% arr.each do |obj| %>
						<div class="span2">
							<%= link_to obj.key.split("/")[-1], "#{obj.url_for(:read)}" %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>