<div class="row">

	<div class="col-lg-4 col-md-5 col-sm-6">
		<%= image_tag @film.poster.url(:show) %>
	</div>

	<div class="col-lg-8 col-md-7 col-sm-6">
		<h1><%= @film.title %></h1>

		<p><small><%= @film.tagline %></small></p>

		<% if @film.director -%>
		<p>Directed by <%= link_to @film.director.name, @film.director %></p>
		<% end -%>

		<%= @film.description.try(:html_safe) %>
	</div>

</div>

<br /><br />

<div class="row">

	<div class="col-md-4">
		<p>
			<strong>Genres</strong><br />
			<% if @film.genres.any? -%>
	      <% @film.genres.each do |genre| -%>
		      <span class="label label-default"><%= genre.name %></span>
	      <% end -%>
			<% else -%>
				<span class="label label-default">None</span>
	    <% end -%>
		</p>

		<p>
			<strong>Production timeline</strong><br />
			<%= long_date @film.start_date %> -
			<%= long_date @film.end_date %>
		</p>

		<p>
			<strong>Screening information</strong><br />
			<table class="table table-striped">
				<tbody>
					<% if @film.screenings.any? -%>
						<% @film.screenings.by_date.each do |screening| -%>
						<tr>
							<td>
								<%= long_date screening.starts_at %>,
								<%= time screening.starts_at %><br />

			          <% if screening.location? -%>
			          <%= screening.location %><%= ',' if screening.building %>
			          <% end -%>

			          <%= link_to_building screening.building %>
							</td>
						</tr>
						<% end -%>
					<% else -%>
						<tr><td>None</td></tr>
					<% end -%>
				</tbody>
			</table>
		</p>

		<p>
			<strong>Audition information</strong><br />
			<%= @film.aud_info.try(:html_safe) %><br />
			<%= link_to "Sign up here", film_auditions_path(@film) if @film.auditions.imminent.any? %>
		</p>

		<p>
			<strong>Contact information</strong><br />
			For all inquiries regarding this project, please contact
			<%= mail_to @film.contact, @film.contact %>
		</p>
	</div>

	<div class="col-md-4">

		<p>
			<strong>Cast</strong><br />
			<table class="table table-striped">
				<tbody>
					<% if @film.cast.filled.any? -%>
						<% @film.cast.filled.each do |cast| -%>
						<tr>
							<td><%= cast.character %></td>
							<td><%= link_to cast.person.name, cast.person %></td>
						</tr>
						<% end -%>
					<% else -%>
						<tr><td>None</td></tr>
					<% end -%>
				</tbody>
			</table>
		</p>

		<p>
			<strong>Crew</strong><br />
			<table class="table table-striped">
				<tbody>
					<% if @film.crew.filled.any? -%>
						<% @film.crew.filled.each do |crew| -%>
						<tr>
							<td><%= crew.position.position %></td>
							<td><%= link_to crew.person.name, crew.person %></td>
						</tr>
						<% end -%>
					<% else -%>
						<tr><td>None</td></tr>
					<% end -%>
				</tbody>
			</table>
		</p>

	</div>

	<div class="col-md-4">
		<p>
			<strong>Cast positions needed</strong><br />
			<table class="table table-striped">
				<tbody>
					<% if @film.cast.vacant.any? -%>
						<% @film.cast.vacant.each do |cast| -%>
						<tr>
							<td><%= cast.character %></td>
						</tr>
						<% end -%>
					<% else -%>
						<tr><td>None</td></tr>
					<% end -%>
				</tbody>
			</table>
		</p>

		<p>
			<strong>Crew positions needed</strong><br />
			<table class="table table-striped">
				<tbody>
					<% if @film.crew.vacant.any? -%>
						<% @film.crew.vacant.each do |crew| -%>
						<tr>
							<td><%= crew.position.position %></td>
						</tr>
						<% end -%>
					<% else -%>
						<tr><td>None</td></tr>
					<% end -%>
				</tbody>
			</table>
		</p>

		<p>
			<strong>Video links</strong><br />
			<table class="table table-striped">
				<tbody>
					<% if @film.links.any? -%>
						<% @film.links.by_position.each do |link| -%>
						<tr>
							<td><%= link_to link.name, link.url, target: '_blank' %></td>
						</tr>
						<% end -%>
					<% else -%>
						<tr><td>None</td></tr>
					<% end -%>
				</tbody>
			</table>
		</p>

		<p>
			<strong>Files</strong>
			<table class="table table-striped">
				<tbody>
					<% if @film.s3_objects? -%>
						<% @film.s3_objects.each do |obj| %>
						<tr>
							<td>
								<%= link_to_file obj %>
							</td>
						</tr>
						<% end %>
					<% else -%>
						<tr><td>None</td></tr>
					<% end -%>
				</tbody>
			</table>
		</p>

	</div>

</div>