<%
	# Unconventional, but we are going to define css "classes" here, because for emailing, they must be inlined
	topbar = "background-color: #6F79D8; color: white; text-transform: uppercase; vertical-align: middle;"
	navItem = "float: left; margin-right: 25px;"
	link = "text-decoration: none;"
	nav = "list-style-type: none;"

%>
<html>
	<head>
		<style type="text/css" media="screen">
			a:visited { color:inherit; text-decoration: none; }
		</style>
		<% if @preview %>
			<%= javascript_include_tag "application" %>
			<script>
				$(document).ready(function() {
					$(document).on("click",".delete", function(e) {
						e.preventDefault();
						$(this).closest("li").remove();
					});

					$(document).on("click","a.add", function(e) {
						e.preventDefault();
						var $newNode = $("li.announcement:first").clone();
						$newNode.find("textarea").val("");
						$newNode.find("input").val("");
						$("ul.announcements").append($newNode);
					});

					$("ul.announcements").sortable();

					$("ul.announcements").on("change", "input, textarea", updatePreview);
					$("ul.announcements").on("sortupdate", updatePreview);

					function updatePreview() {
						$("#announcements").html("");
						$("ul.announcements li").each(function() {
							var $node = $("<p><strong style='font-size: 18px;''></strong><br /></p>");
							$node.find("strong").text($(this).find("input").val());
							$node.append($(this).find("textarea").val().replace(/\n/g,"<br />"));					
							$("#announcements").append($node);
						})
					}
				});
			</script>
		<% end %>
	</head>
	<body style="margin: 0; padding: 0; font-family: 'Lucida Grande',sans-serif;">
		<% if @preview %>
			<h3>Announcements go here! Preview the rest of the newsletter below</h3>
			<form method="POST">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
				<ul class="announcements">
					<li class="announcement">
						<input type="name" name="subject[]"><br />
						<textarea name="message[]"></textarea><br />
						<a class="delete" href="#">Delete Announcement</a>
					</li>
				</ul><br /><br />
				<a class="add" href="#">
					Add another announcement
				</a><br /><br />
				<input name="send" type="submit" value="Send this bad boy!" data-confirm='Are you sure? Email will be sent as it looks below!' />
			</form>
		<% end %>
		<table width="100%">
			<tr style="<%= topbar %>">
				<td colspan="2">
					<ul style="<%= nav %>">
						<li style="<%= navItem %>"><%= link_to "Home", root_url, :style => link %></li>
						<li style="<%= navItem %>"><%= link_to "Films", films_url, :style => link %></li>
						<li style="<%= navItem %>"><%= link_to "Auditions", auditions_url, :style => link %></li>
						<li style="<%= navItem %>"><%= link_to "Opportunities", opportunities_url, :style => link %></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<% if Time.now.sunday? %>
					<% time_next_week = Time.now + 7.days %>
						<h2>YFA Newsletter Week of <%= Time.now.strftime("%B %e") %> - <%= time_next_week.strftime("%B %e") %></h2>
					<% else %>
						<h2>YFA Newsletter Week of <%= Time.now.strftime("%B %e") %> - <%= Time.now.sunday.strftime("%B %e") %></h2>
					<% end %>
				</td>
			</tr>
			<tr>
				<!--THIS WEEK-->
				<h2>This Week's Films</h2>
					<% if @films.length == 0 %>
						No films this week, check out the <%= link_to "full calendar", films_url %> for more information!
					<% else %>
						<table>
							<% @films.each do |film| %>
								<tr>
									<% if film.poster.exists? %>
										<td>
											<%= link_to image_tag(film.poster.url(:thumb)), best_link(film, true), :style => "float: left; margin-right: 10px;" %>
										</td>
										<td style="padding: 10px 0;">
									<% else %>
										<td colspan="2" style="padding: 10px 0;">
									<% end %>
											<strong><%= link_to film.title, best_link(film, true), :class => 'title' %></strong><br />
											<%= film.tagline if !film.tagline.blank? %><%= raw "<br />" if !film.tagline.blank? %>
											<strong>Directed By:</strong> <%= film.director %><br />
											<% film.screenings.each do |screening| %>
												<%= raw style_full_screening(screening.starts_at) %><br />
											<% end %>
											</td>
								</tr>
							<% end %>
						</table>
						<br />Check out the <%= link_to "full calendar", films_url %> for even more films!
					<% end %>
					<!--END THIS WEEK-->
			</tr>
			<tr>
				<!--ANNOUNCEMENTS-->
					<h2>Announcements</h2>
						<div id="announcements">
							<% @announcements.each do |subject, message| %>
								<p>
									<strong style="font-size: 18px;"><%= subject %></strong><br />
									<%= message.gsub(/\n/,"<br />").html_safe %>
								</p>
							<% end %>
						</div>
				<!--END ANNOUNCEMENTS-->
			</tr>
			<tr>
				<td width="50%" style="vertical-align: top; padding: 0 25px;">
				<!--OPPORTUNITIES-->				
					<hr />
					<h2>Opportunities</h2>
					<table>
						<% @opportunities.each do |film, ops| %>
							<tr>
								<td width="40%" style="padding: 5px 0; vertical-align: top;">
									<strong><%= link_to film.title, best_link(film, true), :class => 'title' %></strong><br />
									<strong>Show Dates:</strong> <%= format_screenings(film.screenings) %><br />
									<strong>Directed By:</strong> <%= film.director %><br />
								</td>
								<% if ops.length > 5 %>
									<td width="30%" style="padding: 5px 0 5px 30px; vertical-align: top;">
										<% ops.slice!(0, (ops.length / 2.0).ceil).each do |o| %>
											<%= o.display_name %><br />
										<% end %>
									</td>
									<td width="30%" style="vertical-align: top;">
										<% ops.each do |o| %>
											<%= o.display_name %><br />
										<% end %>
									</td>
								<% else %>
									<td colspan="2" style="padding: 5px 0 5px 30px; vertical-align: top;">
										<% ops.each do |o| %>
											<%= o.display_name %><br />
										<% end %>
									</td>
								<% end %>
							</tr>
						<% end %>
					</table>
					<br />View <%= link_to "all opportunities", opportunities_url %> on the full website!
					<!--END OPPORTUNITIES-->
					<hr />
					<!--AUDITIONS-->
				</td>
				<td width="50%" style="vertical-align: top; padding: 0 25px;">
					<h2>Auditions</h2>
					<% @auditions.each do |film, auditions| %>
						<strong><%= link_to film.title, best_link(film, true), :class => 'title' %></strong><br />
						<strong>Show Dates:</strong> <%= format_screenings(film.screenings) %><br />
						<strong>Directed By:</strong> <%= film.director %><br />
						<b>Audition Dates:</b> <%= format_screenings auditions %><br />
						<b>Audition Signup:</b> <%= link_to auditions.select{|a| !a.person_id}.count.to_s + " Slots Available", film_auditions_url(film) %><br /><br />
					<% end %>
					<!--END AUDITIONS-->
					<hr />
				</td>
		</table>
	</body>
</html>
