<!DOCTYPE html>
<head>
    <title><%= ['Yale Film Alliance', @page_name].flatten.reject(&:blank?).join(' - ') %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <meta name="description" content="The Yale Film Alliance is an organization for the furthering of film at Yale University.">
    <meta name="keywords" content="Yale, film, information, alliance, University, mailing">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Favicon-->
    <link rel="shortcut icon" href=" ">
    <link rel="apple-touch-icon" href=" ">
    
    <!--[if lt IE 9]>
        <%= javascript_include_tag "html5shiv-p" %>
    <![endif]-->
    
    <%= yield :head %>
</head>

<body <%= yield :body_attrs %>>

  <div id="yale-banner" class="container">
    <div class="row">
      <div class="col-md-1 col-xs-3">
        <a href="/"><%= image_tag 'logo.jpg', :height => 70 %></a>
      </div>
      <div class="col-md-5 col-xs-9 title yale-font">
        <a href="/">Yale Film Alliance</a>
      </div>
      <div class="col-md-6 search-form">
        <form class="form-inline" method="GET" action="<%= search_path %>">
          <input type="hidden" name="t" value="<%= @tab || :people %>" />
          <input type="text" class="form-control search-control" placeholder="search for projects, people, and events" name="q" value="<%= params[:q] %>" />
        </form>
      </div>
    </div>
  </div>

  <div class="layout navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= :active if @active_nav == :films %>">
            <%= link_to "Projects", films_path %>
          </li>
          <li class="dropdown <%= :active if @active_nav == :opportunities %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Opportunities <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%= :active if @active_subnav == :auditions %>">
                <%= link_to "Student productions", opportunities_path %>
              </li>
              <li class="<%= :active if @active_subnav == :jobs %>">
                <%= link_to "Jobs and Internships", jobs_path %>
              </li>
            </ul>
          </li>
          <li class="<%= :active if @active_nav == :calendar %>">
            <%= link_to "Calendar", events_path %>
          </li>
          <li class="dropdown <%= :active if @active_nav == :resources %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Resources <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%= :active if @active_subnav == :howtos %>">
                <%= link_to "How To's", howtos_pages_path %>
              </li>
              <% Page.resources.by_position.each do |page| -%>
              <li class="<%= :active if @page == page %>">
                <%= link_to page.menu_title, page %>
              </li>
              <% end -%>
            </ul>
          </li>
          <% Page.main.by_position.each do |page| -%>
          <li class="<%= :active if @page == page %>">
            <%= link_to page.menu_title, page %>
          </li>
          <% end -%>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if @current_user and @current_user.site_admin? -%>

            <li class="dropdown <%= :active if @active_nav == :user %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li class="<%= :active if @active_subnav == :dashboard %>">
                  <%= link_to "My Dashboard", dashboard_path %>
                </li>

                <li class="divider"></li>
                <li class="dropdown-header">Administration</li>

                <li class="<%= :active if @active_subnav == :admin %>">
                  <%= link_to "Dashboard", admin_dashboard_path %>
                </li>
                <li class="<%= :active if @active_subnav == :announcements %>">
                  <%= link_to "Announcements", admin_announcements_path %>
                </li>
                <li class="<%= :active if @active_subnav == :carousels %>">
                  <%= link_to "Carousels", admin_carousels_path %>
                </li>
                <li class="<%= :active if @active_subnav == :events %>">
                  <%= link_to "Events", admin_events_path %>
                </li>
                <li class="<%= :active if @active_subnav == :films %>">
                  <%= link_to "Films", admin_films_path %>
                </li>
                <li class="<%= :active if @active_subnav == :jobs %>">
                  <%= link_to "Jobs", admin_jobs_path %>
                </li>
                <li class="<%= :active if @active_subnav == :pages %>">
                  <%= link_to "Pages", admin_pages_path %>
                </li>
                <% if @current_user.admin_admin? -%>
                <li class="divider"></li>
                <li cass="<%= :active if @active_subnav == :admins %>">
                  <%= link_to "Admins", admin_admins_path %>
                </li>
                <% end -%>
              </ul>
            </li>

          <% else -%>
            <li class="<%= :active if @active_nav == :user %>">
              <%= link_to (@current_user ? "Dashboard" : "Sign In"), dashboard_path %>
            </li>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>

	<div class="container <%= params[:controller] %> <%= params[:action] %>">
  	<% if flash[:notice] %>
       <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
       <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
		<%= yield %>
	</div>

  <div class="container layout footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2 yale-font">
          Yale
        </div>
        <div class="col-md-8">
          <small>
            Copyright &copy; <%= Date.today.year %> Yale University &middot; All rights Reserved
            &middot; <a href="http://www.yale.edu/privacy.html" target="_blank">Privacy Policy</a><br />
            Yale Film Alliance, ...
            <%= mail_to YFA_EMAIL, "Contact" %> the YFA.
          </small>
        </div>
        <div class="col-md-2">
          <%= image_tag "twitter.png" %>
          <%= image_tag "facebook.png" %>
          <%= render "shared/newsletter_dialog" %>
        </div>
      </div>
    </div>
  </div>

  <%= yield :dialogs %>
  <%= render "shared/google_analytics" if defined?(GA_ACCOUNT) %>
</body>
</html>
