<!DOCTYPE html>
<head>
    <title><%= ['Yale Film Alliance', @page_name].flatten.reject(&:blank?).join(' - ') %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <meta name="description" content="The Yale Film Alliance is an organization for the furthering of film at Yale University.">
    <meta name="keywords" content="Yale, film, information, alliance, University, mailing">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Favicon-->
    <link rel="shortcut icon" href=" ">
    <link rel="apple-touch-icon" href=" ">
    
    <!--[if lt IE 9]>
        <%= javascript_include_tag "html5shiv-p" %>
    <![endif]-->
    
    <%= yield :head %>
</head>

<body <%= yield :body_attrs %>>

  <div class="layout navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" href="/">YFA</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= :active if @active_nav == :films %>">
            <%= link_to "Projects", films_path %>
          </li>
          <li class="dropdown <%= :active if @active_nav == :opportunities %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Opportunities <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Student productions", auditions_path %></li>
              <li><%= link_to "Jobs and Internships", opportunities_path %></li>
            </ul>
          </li>
          <li class="<%= :active if @active_nav == :calendar %>">
            <%= link_to "Calendar", events_path %>
          </li>
          <li class="dropdown <%= :active if @active_nav == :resources %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Resources <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Resources", resources_path %></li>
            </ul>
          </li>
          <li class="<%= :active if @active_nav == :fest %>">
            <%= link_to "Film Fest", "" %>
          </li>
          <li class="<%= :active if @active_nav == :board %>">
            <%= link_to "Meet the Board", "" %>
          </li>
          <li class="<%= :active if @active_nav == :donate %>">
            <%= link_to "Donate", donate_path %>
          </li>
        </ul>
        <form class="navbar-form navbar-left" method="GET" action="/search">
          <input type="text" class="form-control col-lg-8" placeholder="projects, people, events">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= :active if @active_nav == :user %>">
            <%= link_to (@current_user ? "My Dashboard" : "Sign In"), dashboard_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>

	<div class="container <%= params[:controller] %> <%= params[:action] %>">
  	<% if flash[:notice] %>
       <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
       <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:error] %>
      </div>
    <% end %>
		<%= yield %>
	</div>

  <%= yield :dialogs %>

	<div class="container-fluid layout footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          &copy; <%= Date.today.year %>
          <a href="mailto:<%= YFA_EMAIL %>">Yale Film Alliance</a>
        </div>
        <div class="col-md-4">
          TW | FB
        </div>
        <div class="col-md-4">
          <div class="text-uppercase">
            <strong>Sign up for our email newsletter</strong>
          </div>
          <form>
            <div class="row">
              <div class="col-md-8">
                <input class="form-control" type="text" placeholder="email address" />
              </div>
              <div class="col-md-4">
                <input class="form-control" type="submit" value="Submit" />
              </div>
            </div>
          </form>
        </div>
    </div>
	</div>

  <%= render "shared/google_analytics" if defined?(GA_ACCOUNT) %>
</body>
</html>
