<!DOCTYPE html>
<head>
    <title>Yale Film Alliance<%= @page_name %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <meta name="description" content="The Yale Film Alliance is an organization for the furthering of film at Yale University.">
    <meta name="keywords" content="Yale, film, information, alliance, University, mailing">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Favicon-->
    <link rel="shortcut icon" href=" ">
    <link rel="apple-touch-icon" href=" ">
    
    <!--[if lt IE 9]>
        <%= javascript_include_tag "html5shiv-p" %>
    <![endif]-->
    
    <%= yield :head %>
</head>

<body <%= yield :body_tag_content %>>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">YFA</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Projects", films_path, :class => @active_nav == :calendar ? "active" : "" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Opportunities <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Student productions", auditions_path, :class => @active_nav == :auditions ? "active" : "" %></li>
              <li><%= link_to "Jobs and Internships", opportunities_path, :class => @active_nav == :opportunities ? "active" : "" %></li>
            </ul>
          </li>
          <li><%= link_to "Calendar", "" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Resources <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Resources", resources_path, :class => @active_nav == :learn ? "active" : "" %></li>
            </ul>
          </li>
          <li><%= link_to "Film Fest", "" %></li>
          <li><%= link_to "The Board", "" %></li>
          <li><%= link_to "Donate", donate_path, :class => @active_nav == :donate ? "active" : "" %></li>
        </ul>
        <form class="navbar-form navbar-left" method="GET" action="/search">
          <input type="text" class="form-control col-lg-8" placeholder="projects, people, events">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to (@current_user ? "My Dashboard" : "Sign In"), dashboard_path %></li>
        </ul>
      </div>
    </div>
  </div>

	<div id="main" class="<%= params[:controller] %> <%= params[:action] %>">
  	<div class="container">
    	<% if flash[:notice] %>
	       <div class="alert alert-info"><%= flash[:notice] %></div>
	    <% end %>
	    <% if flash[:error] %>
	       <div class="alert alert-error"><%= flash[:error] %></div>
	    <% end %>
  		<%= yield %>
  	</div>
	</div>

	<footer>
		<div class="container">
  		<div class="row">
    		<div class="span6">
    			Code by [TODO: CREDITS]
    		</div>
    		<div class="span6 right">
  		    &copy; 2014 Yale Film Alliance -- <a href="mailto:<%= YFA_EMAIL %>">contact us</a>
    		</div>
  		</div>
		</div>
	</footer>

  <%= render "shared/google_analytics" if defined?(GA_ACCOUNT) %>
</body>
</html>
